/* Общие настройки */

*{
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: auto;
  font-family: Verdana, sans-serif;
  background-color: #f4f4f4;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Займет как минимум всю высоту окна браузера */
}
h2, h3, p{
  margin: 10px;
}
/* Элементы */
.content{
  display: flex;
  flex: 1;
  @media (orientation: portrait) {
    flex-wrap: wrap;
  }
}

#first-path{
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: max-content auto;
  padding: 20px;
  @media (orientation: portrait) {
    width: 100%;
  }
}


header, footer {
  background-color: #252525;
  color: #fff;
  text-align: center;
  padding: 40px;
  width: 100%;
  @media (orientation: portrait) {
    font-size:small;
  }
}

footer {
  position: relative; /* Вернем позиционирование в относительное */
  bottom: auto;
  flex-shrink: 0;
}

/*Ссылки*/

ul {
  padding: 0; /* Убираем поля */
  margin-left: 10px; /* Отступ слева */
}
.boxborder.one {
  padding: 10px;
  display: flex;
  @media (orientation: portrait) {
    flex-wrap: wrap;
  }
}
.boxborder.one li {
  margin: 8px 8px;
}
.boxborder.two li {
  margin: 15px 0;
}
.boxborder li a {
  padding: 8px 34px;
  background-color: rgb(224, 224, 224);
  border-radius: 20px;
  color: #252525;
  display: block; /* Развернем ссылки на весь блок */
}

.boxborder li a:hover {
  background-color: #a7a7a7;
  color: hsl(0, 0%, 20%);
}

/* Таблицы */
table {
  width: 75%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
  width: 105px;
}

th:nth-of-type(1),
th:nth-of-type(3),
td:nth-of-type(1),
td:nth-of-type(3) {
  background-color: #e0e0e0; 
}

th:nth-of-type(2), td:nth-of-type(2),
th:nth-of-type(4), td:nth-of-type(4) {
  background-color: #f2f2f2; 
}
.dark-row th {
  background-color: #252525; /* Сделаем первую строку темно-серой */
  color: #fff;
}