*{
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: auto;
  font-family: Verdana, sans-serif;
  background-color: #f4f4f4;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Займет как минимум всю высоту окна браузера */
}
h2, h3, p{
  margin: 10px;
}
header, footer {
  background-color: #252525;
  color: #fff;
  text-align: center;
  padding: 30px;
  width: 100%;
  @media (orientation: portrait) {
    font-size:small;
  }
}

footer {
  background-color: #252525;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 85%;
}
/* Задания */
.fulltask {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @media (orientation: portrait) {
      width: 90%;
    }
  }
  
  /* Стили для заголовка */
  .fulltask h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  /* Стили для ссылки */
  .fulltask a {
    text-decoration: none;
    padding: 8px 20px;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    color: #252525;
  }
  .fulltask a:hover {
    background-color: #a7a7a7;
    color: hsl(0, 0%, 20%);
  }
  
  /* Стили для формы */
  form {
    text-align: center;
  }
  
  /* Стили для ввода текста */
  input[type="text"] {
    margin: 10px;
    padding: 8px;
    width: 100px;
    border: 1px solid #ccc;
  }
  
  /* Стили для кнопки */
  input[type="submit"] {
    margin: auto;
    padding: 8px 34px;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    color: #252525;
    display: block;
    border: rgb(224, 224, 224);
    font-size:medium;
  }
  
  input[type="submit"]:hover {
    background-color: #a7a7a7;
    color: hsl(0, 0%, 20%);
  }